<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Pages Type'), ['action' => 'edit', $pagesType->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Pages Type'), ['action' => 'delete', $pagesType->id], ['confirm' => __('Are you sure you want to delete # {0}?', $pagesType->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Pages Type'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Pages Type'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="pagesType view large-9 medium-8 columns content">
    <h3><?= h($pagesType->title) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Title') ?></th>
            <td><?= h($pagesType->title) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($pagesType->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($pagesType->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($pagesType->modified) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Is Active') ?></th>
            <td><?= $pagesType->is_active ? __('Yes') : __('No'); ?></td>
        </tr>
    </table>
</div>
